---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Introduccion Astro' description='Pagina de inicio de astro'>
  <p class='mt-4 text-center text-2xl'>
    Astro es un framework moderno de front-end que te permite construir sitios
    web m치s r치pidos.
  </p>
  <p class='mt-4 text-center text-xl'>
    Esta p치gina est치 construida con Astro y estilizada con Tailwind CSS.
  </p>
</Layout>
